---
import Close from './close.astro';
---

<section id="about">
    <Close onClick="closeSection('about')"/>
    <div class="container-title">
        <div class='title'>
            <h2>À propos de moi</h2>
            <p>Who i am</p>
        </div>
    </div>

</section>


<style>

</style>