---

---

<section id='home'>
  <div class='home-left'>
    <!-- <img src="./images/banner_bg.jpg" alt="" /> -->
  </div>
  <div class='home-right'>
    <div class='text-focus-in'>
      <h1>
        I'm <br />
        Jean <br />
        Nguyen
      </h1>
    </div>
  </div>
</section>

<style>
  /* style section home */
  section#home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 5rem;
  }

  .home-right {
    margin-left: 40%;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-content: center;
  }
</style>
