---
---

<section id="home">
    <div class="home-left">
      <!-- <img src="./images/banner_bg.jpg" alt="" /> -->
    </div>
    <div class="home-right">
        <div class="text-focus-in">
          <h1>
            I'm <br>
            Jean <br>
            Nguyen
          </h1>          
        </div>
    </div>
  </section>

  <style>
    /* style section home */
section#home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f8f8f8 url(../images/background-jean.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-right {
  margin-left: 40%;
  width: 45vw;
  /* height: 50vh; */
  display: flex;
  justify-content: center;
  align-content: center;
}
  </style>