---
import Close from './close.astro';

---

<section id="skills">
    <Close onClick="closeSection('skills')"/>
    <div class="container-title">
        <div class='title'>
            <h2>Mes compétences</h2>
            <p>Skills</p>
        </div>
    </div>
    
</section>


<style>

</style>